/__pycache__/
*.pyc
/.venv/
/DAT China/
/physionet.org/
/Report/
/model-weights/
/data/
/mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0/
/temp-stuff/
/wandb/
/temp/
/BARD/
/images/
/Brugada AI ECG test set/